@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font: 100%;
}

nav {

    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding-top: 28px;
    padding-left: 112px;
    padding-right: 130px;
    justify-content: space-around;
    font-size: 16px;

}

.logo_texto {
    display: flex;
    align-items: center;
    gap: 8px;
}

.texto_logo{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A404E;
}

.links_navbar{
    display: flex;
    gap: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    color: #667085;
}

.links_navbar a{
    color: #667085;
}

.cadastro_navbar{
    display: flex;
    gap: 30px;
    align-items: center;
    color: #667085;
}

.cadastro_navbar a {
    color: #667085;
}

.botao_cadastro{
    padding: 10px 18px;
    background: #8E2424;
    border: 1px solid #8E2424;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 500;
}

.botao_cadastro a{
    color: white;
}

.cabecalho-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 96px;
}

.cabecalho-texto-1{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}

.cabecalho-texto-2{
    margin-top: 24px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #101828;
}

.cabecalho-texto-3{
    margin-top: 36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 791px;
    text-align: center;
    color: #667085;
}

div {
    width: 280px;
}

.metricas-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    padding-bottom: 96px;
    font-family: 'Inter', sans-serif;
}

.metricas-container-titulo{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: #8E2424;
    padding-bottom: 12px;
}

.metricas-container-subtitulo{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    padding-bottom: 8px;
}

.metricas-container-texto{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.procurando-vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.procurando-vagas-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
    font-family: 'Inter',sans-serif;
}

.procurando-vagas-texto1{
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    width: 125px;
    padding: 4px 12px ;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
}

.procurando-vagas-texto2{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    width: 768px;
    text-align: center;
    color: #101828;
}

.procurando-vagas-texto3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    width: 768px;
}

.procurando-vagas-imagem{
    padding-top: 64px;
    padding-bottom: 64px;
}

.vagas{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
}

.vagas-titulo{
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 30px;
 width: 768px;
 padding-bottom: 32px;
 color: #101828;
}

.vagas-nome{
 width: 768px;
 padding-bottom: 32px;
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 28px;
 color: #101828;
}

.vagas-hora-salario{
 width: 768px;
 display: flex;
 gap: 24px;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 color: #667085;
}

.vagas-informacoes{
 display: flex;
 flex-direction: column;
 background: #FFFFFF;
 border: 1px solid #EAECF0;
 box-sizing: border-box;
 border-radius: 16px;
 width: 768px;
 padding: 24px 24px 28px;
 margin-bottom: 24px;
}

.vagas-titulo2{
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 30px;
 width: 768px;
 padding-bottom: 32px;
 padding-top: 40px;
 color: #101828;
}

.depoimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
}

.depoimento-texto{
    width: 1088px;
    background-color:  rgba(196, 25, 25, 0.03);
    width: 1216px;
    border-radius: 16px;  
    margin-top: 72px;
    margin-bottom: 96px;
    padding: 64px;
}

.depoimento-frase{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #8E2424;
}

.depoimento-titulo{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    max-width: 1088px;
    text-align: center;
    padding-top: 16px;
}

.depoimento-foto-perfil{
    padding-top: 32px;
    max-width: 56px;
}

.depoimento-nome{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
    padding-top: 16px;
}

.depoimento-cargo{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    padding-top: 4px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #F9FAFB;
    height: 430px;
}

.rodape{
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape-titulo{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    padding-top: 96px;
}

.rodape-texto{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
    padding-top: 20px;
}

.rodape-formulario{
    display: flex;
    gap: 16px;
    padding-top: 40px;
}

.rodape-formulario-entrada{
    background-color: white;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    width: 360px;
    border-radius: 8px;
    padding: 12px 14px 12px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
}

.rodape-formulario-botao{
    background: #8E2424;
    border: 1px solid #8E2424;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 12px 20px;
    width: 116px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.rodape-copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
    padding-top: 32px;
}